html {
    background-color: black;
}

body {  
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 56, 51);
}

#game {
    width: 70%;
}

#controls {
    padding-top: 10px;
}

@media (max-width: 768px) {
    #game {
        width: 100%;
    }
}

#changeSkin {
    cursor: pointer;
}

#leftControl, #rightControl {
    cursor: pointer;
}