html {
    background-color: black;
}

body {  
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 56, 51);

    background-image: url(resources/skin-1/background.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
}

#game {
    width: 70%;
}

#controls {
    padding-top: 10px;
}

@media (max-width: 768px) {
    #game {
        width: 100%;
    }
}

#changeSkin, #exMark, #leftControl, #rightControl {
    cursor: pointer;
}